*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: lightblue;
  }
 
  .Form{
    width: 70%;
    margin:auto;
  }
  .heading{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  
  .input-text-fields{
    display: flex;
    flex-direction: column;
  }
  .input-text-fields-each{
    display: flex;
    justify-content: space-between;
  }
  .input-text-fields-each>*{
    width: 50%;
  
  }
  .upper-part{
    display: flex;
  }
  .upper-part>*{
  
    width: 50%;
  }
  .upper-right-part>*{
  width: 60%;
  margin: auto;
  margin-bottom: 2em;
  }
  
  .from-to{
    display: flex;
  padding: 1em;
  margin: 1em;
    justify-content: space-between;
  
   }
  .from, .to{
  display: flex;
  flex-direction: column;
  
  width: 40%;
  }
  
  .container-details-row-1{
    display: flex;
  justify-content: space-between;
  
  }
  .filling-details{
    width: 60%;
    margin:1em auto;
  }
  .filling-details>input{
   margin: 1em;
  }
  .buttons{
    display: flex;
    width: 40%;
    justify-content: space-around;
  
    margin: auto;
  }
  /* .container-details{
  margin: 1em;
  
  } */
  
  /* ############################ */
  label{
    color: green;
    display: block; 
    width: 15em;
    
  }
  input{
    background-color: azure;
    border: none;
    color: black;
    border-bottom: 1px solid;
   
  }
  
  /* buttons */
  .exit{
    width: 5em;
    height: 5vh;
    border: none;
    background-color: red;
  }
  .ok{
    width: 5em;
    height: 5vh;
    border: none;
    background-color: rgb(7, 130, 75);
  }
  .clear{
    width: 5em;
    height: 5vh;
    border: none;
    background-color: rgb(171, 206, 89);
  }
  
  @media only screen and (max-width: 700px) {
    
    .heading{
      margin: auto;
      width: 100%;
      text-align: center;
    }
    .App{
      width: 100%;
  
      margin:1em;
    }
    .upper-part{
      display: flex;
      flex-direction: column;
    }
    .input-text-fields{
      width: 70%;
      margin: auto;
    }
    .input-text-fields-each{
      width:100%;
    }
    .input-text-fields-each>*{
      width: 70%;
    
    }
    .upper-part{
      display: flex;
      margin: 1em;
    }
    .upper-part>*{
   
      width: 100%;
    }
    .from-to{
      display: flex;
      width: 70%;
      margin: auto;
  
      justify-content: space-between;
  
     }
     .container-details-row-1{
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: auto;
    justify-content: space-between;
    
    }
    .upper-right-part{
      width: 75%;
      margin: auto;
    }
    .upper-right-part>*{
      width: 100%;
      margin: 1em;
      margin-bottom: 2em;
      }
      .buttons{
        display: flex;
        width: 80%;
        justify-content: space-around;
  
        margin: auto;
      }
      .filling-details{
        width: 70%;
        margin:1em auto;
      }
  }