.content-table{
    /* border-collapse: collapse; */
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 1500px;
    border: 1px solid;
    text-align: center;
}
th{
background-color: #009879;;
color: rgb(12, 11, 11);
    

}
th,td{
    border: 1px solid;
    /* width: 50px; */
    text-align: center;
    min-width: 150px;
    height: 40px;
}
.add-data{
    width: 10em;
    text-align: center;
    background-color: #c3631f;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    
}
